body
    font-family Helvetica Neue, Helvetica, Arial, sans-serif
    font-size 14px
    margin 0
    padding 0
    font-weight light

h1
h2
h3
h4
h5
h6
    font-weight light
    margin: 0.5em 0;

a
    color #08c
    text-decoration none

    &:hover
        text-decoration: underline

.container
    max-width 1080px
    margin auto
    padding 1em

#app
    border-top 1px solid #eee

footer
    border-top 1px solid #eee
    text-align center
    margin-top 20px
    padding 20px 0
